*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background-color: whitesmoke;
}
.item{
    position: relative;
    width: 500px;
    min-height: 200px;
    background-color: white;
    margin: 100px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius:10px ;
    border-bottom-right-radius: 40px;
}
.items{
    width: 450px;
    height: 70px;
    display: flex;
    gap: 10px;
    border-bottom:  1px solid gray;
}
.items p{
    font-size: 10px;
    
}
input{
    width: 80px;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    color: black;
    font-size: 16px;
    outline: none;
}
input:hover{
    cursor: pointer;
    border:1px solid hsl(259, 100%, 65%);
}
input:focus{
    border:1px solid hsl(259, 100%, 65%);

}
h3{
    font-size: 45px;
    
    
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 75px;
}
button:hover{
    background-color: black;
}
.input-box {
    display: flex;
    flex-direction: column;
}

input.error-border {
    border-color: red;
}

small.error {
    color: red;
    font-size: 10px;
    height: 14px;
}
span{
    color: hsl(259, 100%, 65%);
}
