body{
    background-color: whitesmoke;
    font-family: Barlow Semi Condensed;
}

.items{
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
}
.item1{
    background-color: hsl(263, 55%, 52%);
    color: white;
}
.item2{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}
.item3, .item4{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%)
}
.item5{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}
.profile{
    display: flex;
    width: 200px;
    gap: 10px;
    justify-content: space;
    
}
.profile img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border-radius: 100%;
    border: 1.5px solid whitesmoke;
}
.item5 img{
    border: 1.5px solid hsl(263, 55%, 52%) ;
}
.p1{
    line-height: 16px;
    font-size: 12px;
}


.grid-container{
    display: grid;
    width: 1100px;
    margin: auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 320px 300px;
    grid-template-areas: 
    "box1 box1 box2 box3"
    "box4 box5 box5 box3";
}
@media (max-width: 768px) {
    .grid-container{
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "box1"
        "box2"
        "box4"
        "box5"
        "box3";
    }
}