*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}
nav img{
    cursor: pointer;
    width: 200px;
    margin: 20px 0px 0px 30px
}
.hero_section{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
}
.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.content h3{
    padding-top: 30px;
    line-height: 28px;
    font-size: 25px;
}
.content p{
    padding: 15px 0px 10px 0px;
    line-height: 21px;
}
.content button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: hsl(257, 40%, 49%);
}
icon-icon{
    color: blue;
}
@media (max-width: 768px) {
    .container{
        height: 100%;
        padding-bottom: 20px;
        background-image: url(./img/bg-mobile.svg);
        background-repeat: no-repeat;
    }
    .hero_section{
        flex-direction: column;
    }
    .hero{
        width: 95%;
        margin: auto;
    }
    .content{
        align-items: center;
        gap: 10px;
        padding: 0px;
        width: 80%;
        margin: auto;
    }
    .content h3{
        text-align: center;
        padding-top: 0px;
    }
    .content br{
        display: none;
    }
    .content p{
        text-align: center;
        padding: 0px;
        line-height: 21px;
    }
    nav img{
        width: 200px;
        margin: 20px 0px 0px 10px
    }
    
}