.container{
    display: flex;
    height: 300px;
    /* margin: 250px; */
}
.items{
    border-radius: 10px;
    width: 200px;
    color: white;
}
.item1{
    background-color: hsl(31, 77%, 52%);
}
.item2{
    background-color: hsl(184, 100%, 22%);
}
.item3{
    background-color: hsl(179, 100%, 13%);
}